<form action="/edit/post" method="post">
    <div class="form-control">
        <input type="hidden" name="id" value="{{User.id}}">
        <label for="title">Nome</label>
        <input type="text" name="title" value="{{User.name}}">
    </div>
    <div class="form-control">
        <label for="page">Profissão</label>
        <input type="text" name="page" value="{{User.occupation}}">
    <input type="submit" value="Editar">
    
    </div>
</form>
<form action="/delete/{{User.id}}" method="post">
        <input type="submit" value="Deletar">
</form>
