<form action="/edit/update" method="post">
    <div class="form-control">
        <input type="hidden" name="id" value="{{User.id}}">
        <label for="occupation">Nome</label>
        <input type="text" name="name" value="{{User.name}}">
    </div>
    <div class="form-control">
        <label for="occupation">Profissão</label>
        <input type="text" name="occupation" value="{{User.occupation}}">
    <input type="submit" value="Editar">
    
    </div>
</form>
<form action="/delete/{{User.id}}" method="post">
        <input type="submit" value="Deletar">
</form>
