<div class="users">
        <div class="user">
            <span>nome: {{User.name}}</span>
            <span>profissão: {{User.occupation}}</span>
            <a href="/edit/{{User.id}}">Editar</a>       
        </div>
</div>
<h2><a href="/home">Voltar</a></h2>