<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estruturas MVC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <H1>MENU PRINCIPAL DO SITE</H1>
    <hr>
    {{{body}}}
</body>
</html>