<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>usuário maneiro</title>
</head>
<body>
    <form action="/users/save" method="post">
        <h1>Digite o seu nome de usuário</h1>
        <div>
            <input type="text" name="name" placeholder="Digite seu nome">
        </div>
        <h1>Digite a sua idade</h1>
        <div>
            <input type="text" name="age" placeholder="Digite sua idade">
        </div>
        <div>
            <input type="submit" value="Cadastrar">
        </div>
    </form>
    
    
</body>
</html>