<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio handlebars</title>
</head>
<body>
    <h2 style="margin-left: 700px;">Menu principal do site</h2>
    <hr>
    {{{body}}}
</html>