<title>Bem vindo, {{cdt.nome}}!</title>
{{#if userLogin}}
    <h1>Paraaaaaaaaabens {{cdt.nome}}, você acessou!</h1>
{{else}}
    <h2>Usuário não cadastrado, <a href="">aperte aqui</a> para cadastrar</h2> 
{{/if}}

<a href="/form">Voltar jaeke1000grau</a>