{{#if userLogin}}

    <h1>Usuário não cadastrado, <a href="">aperte aqui</a> para cadastrar</h1> 
{{else}}
    <h1>Paraaaaaaaaabens {{cdt.nome}}, você acessou!</h1>
{{/if}}

<a href="/form">Voltar jaeke1000grau</a>