    <title>Home Handlebars</title>
    <h1>titulo principal site</h1>
    <p>Nome verdadeiro do andré é {{user.user}} {{user.sobrenome}}, e ele tem apenas {{user.age}} aninhus aiaiai</p>
        <p>
            Logue em sua conta para acessar a tela inicial! <a href="/form">clique aqui</a>
        </p>

