    <title>Login Handlebars</title>
    <form action="/users/save" method="post">
        <h1>Digite o seu nome de usuário</h1>
        <div>
            <input type="text" name="name" placeholder="Digite seu usuário">
        </div>
        <h1>Digite a sua Senha</h1>
        <div>
            <input type="password" name="senha" placeholder="Digite sua senha">
        </div>
        <div>
            <input type="submit" value="Acessar">
        </div>
    </form>