<h1>Livros Disponiveis</h1>
<div class="books">
    {{#each books}}
        <div class="single-book">
            #{{this.ID}} <span>Titulo do livro: {{this.TITLE}}</span> <span>quantidade de página: {{this.PAGE}} paginas</span>
        </div>
    {{/each}}
</div>
