<h1>Cadastre o seu livro</h1>
<form action="/book/insert" method="post">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="Digite o título">
    </div>
    <div class="form-control">
        <label for="page">Número de páginas</label>
        <input type="number" name="page" placeholder="Digite a quantidade de páginas">
    </div>
    <input type="submit" value="cadastrar">
</form>

<h2><a href="/books">Veja os livros disponíveis!</a></h2>

<form action="/search" method="post">
    <div class="form-control">
        <label for="num">Digite o ID do LIVRO</label>
        <input type="number" name="num" placeholder="Digite o ID desejado">
    </div>
    <input type="submit" value="Pesquisar">
    
</form>