<h1>LIVRO 1</h1>
<div class="books">
    {{#each book}}
        <div class="single-book">
            #{{this.ID}} <span>Titulo do livro: {{this.TITLE}}</span> <span>quantidade de página: {{this.PAGE}} paginas</span>
        </div>
    {{/each}}
</div>
<a href="/home">Voltar</a>