
<div class="books">
    {{#each book}}
        <div class="single-book">
            #{{this.ID}} <span>Titulo do livro: {{this.TITLE}}</span> <span>quantidade de página: {{this.PAGE}} paginas</span>
            <a href="/edit/{{this.ID}}">Editar</a>
        
    {{/each}}
</div>
<h2><a href="/home">Voltar</a></h2>